#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #faf3e1;
}



  .formWrapper{
      background-color: #222222;
      padding: 20px 60px;
      border-radius: 15px ;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }

    .logo{
      font-weight: bold;
      @include tablet{
          display: none;
      } 
  }

  .login-box {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-button {
    background-color: #985E40;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .user-info {
    font-weight: bold;
    margin-bottom: 10px;
    color: #faf3e1;
  }
  
  .message-container {
    
    overflow-y: auto;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .message-content {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .message-text {
    padding: 8px;
    background-color: #ff6d1f;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .message.sent .message-text {
    background-color: #985E40;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    position: relative; /* Make the container relative */
  }
  
  .message-input {
    flex: 1; /* Let it take remaining space */
    width: auto; /* Set width to auto */
    max-width: calc(100% - 100px); /* Set maximum width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  .send-button,
  .logout-button,
  .login-button {
    background-color: #985E40;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-button:hover,
  .logout-button:hover,
  .login-button:hover {
    background-color: #222222;
  }
  
  
  .send-button {
    background-color: #985E40;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Add margin-right */
  }

  .ChatBox{
    border:2px solid black;
    background: #222222;
  }

  .ChatterLogo{
    font-weight: bold;
    
    } 
